<div class="file" id="result_<%= cnt %>">
	<div title="<%= sc %>%" class="score_wrapper">
		<div class="score" style="width: <%= sc %>%;"></div>
	</div>
	<input type="hidden" name="path" value="<%= absolute_path %>">
	<div>
		<span class="mylink" title="<%= friendly_path %>" onclick="GoToFile.handle_click(<%= cnt %>)">
			<%= hpath %>
		</span>
	</div>
</div>
