<div class='file'>
	<div title='<%= sc %>%' class='score_wrapper'>
		<div class='score' style='width: <%= sc %>%;'></div>
	</div>
	<input type='hidden' name="in_path" value="<%= p[:path] %>">
	<div>
		<span class='mylink' title='<%= p[:path].gsub(/^#{ENV['HOME']}/, '~') %>' onclick='myClick("<%= p[:path] %>")'>
			<%= hpath %>
		</span>
	</div>
</div>
