<div class="file" id="result_<%= cnt %>">
	<div title="<%= sc %>%" class="score_wrapper">
		<div class="score" style="width: <%= sc %>%;"></div>
	</div>
	<input type="hidden" name="path" value="<%= p[:path] %>">
	<div>
		<span class="mylink" title="<%= p[:path].gsub(/^#{ENV['HOME']}/, '~') %>">
			<%= hpath %>
		</span>
	</div>
</div>
